<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recherche d'adresse</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
    <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <div class="container">
        <h1 class="text-center">Recherche d'adresse</h1>

        <form action="/meteo" method="post" class="form-inline">
            <div class="form-group">
                <label for="address">Entrez une adresse :</label>
                <input type="text" class="form-control" name="address" id="address">
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</body>
</html>